#principal
{
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	background-color: lightcoral;
	gap: 30px;
}
#top
{
	background-image: url('Imagens/FotoPrincipal.jpg');
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	width: 700px;
	height: 500px;
	background-size: cover;
	border-radius: 10px;
	margin-top: 30px;
}
#middle
{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: lightgreen;
	padding: 20px;
	gap: 30px;
}
#bottom
{

}
#titulo_visita
{
	margin-left: auto;
	margin-right: auto;
	background-color: darkblue;
	color: white;
	padding: 10px 7px 10px 7px;
	font-size: 25px;
	font-weight: bold;
}
.ponto_turistico
{

}
#card
{

}
.descricao_cidade
{
	margin-left: auto;
	margin-right: auto;
	background-color: darkblue;
	color: white;
	padding: 10px 7px 10px 7px;
	width: 320px;
}
.imagem_ponto_turistico
{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-size: cover;
}
#middle_second
{
	display: flex;
	flex-direction: row;
	background-color: lightgrey;
	padding: 20px;
	gap: 5px;

}
#middle_first
{
	background-color: lightcyan;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 8px 5px 8px;
}
.fonte_bold
{
	margin-top: 30px;
	margin-bottom: 30px;
}